.wrapper{
  height: vw(55px);
  width: vw(420px);
  position: fixed;
  bottom: 0;
  box-shadow: 0 -5px 4px 0 #CCC8C0;
  background-color: $WHITE;
}


@media screen and (min-width: 420px) {
  .wrapper{
    height: 55px;
    width: 420px;
    .icon{
      width: 30px;
      height: 30px;
    }
  }
}