.wrapper{
  height: vw(55px);
  width: vw(390px);
  background-color: bisque;
  position: fixed;
  bottom: 0;
}


@media screen and (min-width: 390px) {
  .wrapper{
    height: 55px;
    width: 390px;
  }
}