.wrapper{
  height: vw(55px);
  width: vw($PHONE-VW);
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px 0 #CCC8C0;
  background-color: $WHITE;
  z-index: 99;

  .link{
    text-decoration: none;
  }
  .icon{
    margin-top: vw(5px);
    margin-left: vw(10px);
    width: vw(50px);
  }
  .profileimg{
    margin-top: vw(10px);
    margin-right: vw(20px);
  }
}


@media screen and (min-width: $PHONE-VW) {
  .wrapper{
    height: 55px;
    width: $PHONE-VW;
    .link{
      text-decoration: none;
    }
    .icon{
      margin-top: 5px;
      margin-left: 10px;
      width: 50px;
    }
    .profileimg{
      margin-top: 10px;
      margin-right: 20px;
    }
  }
}