.wrapper {
  height: vw(55px);
  width: vw($PHONE-VW);
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px 0 #ccc8c0;
  background-color: $WHITE;

  .link {
    text-decoration: none;
  }
  .icon {
    margin-top: vw(5px);
    margin-left: vw(10px);
    width: vw(50px);
  }
  .imgbox {
    // width: 80px;
    display: flex;
    margin-right: vw(15px);
    .profileimg {
      margin-top: vw(10px);
      margin-left: vw(10px);
    }
  }
}

@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    height: 55px;
    width: $PHONE-VW;
    position: sticky;
    top: 0;
    z-index: 99;
    .link {
      text-decoration: none;
    }
    .icon {
      margin-top: 5px;
      margin-left: 10px;
      width: 50px;
    }
    .imgbox {
      // width: 80px;
      display: flex;
      margin-right: 15px;
      .profileimg {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
  }
}
