.wrapper{
  height: vw(55px);
  width: vw(390px);
  background-color: bisque;
  position: sticky;
  top: 0;
  .link{
    text-decoration: none;
  }
  .icon{
    margin-top: vw(5px);
    margin-left: vw(10px);
    width: vw(50px);
  }
}


@media screen and (min-width: 390px) {
  .wrapper{
    height: 55px;
    width: 390px;
    background-color: bisque;
    position: sticky;
    top: 0;
    .link{
      text-decoration: none;
    }
    .icon{
      margin-top: 5px;
      margin-left: 10px;
      width: 50px;
    }
  }
}