// colors

// main colors
$BLACK: #000000;
$WHITE: #ffffff;
$MAIN: #9e7676;
// social colors
$KAKAO_YELLOW: #ffeb00;
$KAKAO_BROWN: #3c1e1e;

// alert colors
$RED: #ff1616;
$BLUE: #0038ff;

// gray
$GRAY_3A: #3a3a3a;
$GRAY_3C: #3c3c3c;
$GRAY_5B: #5b5b5b;
$GRAY_ED: #ededed;
$GRAY_E0: #e0e0e0;
$GRAY_1B: #1b212f;
$GRAY_5F: #5f5f5f;
$GRAY_1B: #1b212f;
$GRAY_BA: #bab5b5;
$GRAY_9E: #9e9c9c;
$GRAY_D9: #d9d9d9;
