@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: $WHITE;
    .icons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 30px 0;
      .distance {
        .distance__num {
          margin-bottom: 10px;
        }
        .distance__unit {
        }
      }
      .coin {
        padding: 0 40px;
        border-inline: 1px solid $GRAY_BA;
        .coin__num {
          margin-bottom: 10px;
        }
        .coin__unit {
        }
      }
      .time {
        .time__num {
          margin-bottom: 10px;
        }
        .time__unit {
        }
      }
    }
    .controller {
      padding-bottom: 20px;
      .controller__content {
        .controller__pause {
          width: 36px;
        }
        .controller__play {
          width: 36px;
        }
        .controller__stop {
          width: 36px;
          margin-left: 20px;
        }
      }
    }
  }
}
