@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    position: relative;
    height: 65vh;
    .curLocation {
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: 24px;
      height: 24px;
      padding: 4px;
      background-color: $WHITE;
    }
  }
}
