// .wrapper {
//   .profile {
//     height: vw(246px);
//     background-color: #FFF8EA;
//   }
//   .procom {
//     width: vw(380px);
//     justify-content: space-between;
//     margin-left: vw(22px);
//     padding-top: vw(36px);
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//   }

//   .selbox {
//     position: relative;
//     top: vw(44px);
//     width: vw(340px);
//     height: vw(74px);
//     justify-content: center;
//     background-color: $WHITE;
//     border: vw(1px) solid;
//     border-radius: vw(15px);
//     margin: auto;
//     button {
//       background-color: $WHITE;
//       border: 0;
//     }

//     .seltxt1 {
//       margin-right: vw(24px);
//     }

//     .seltxt2 {
//       margin-left: vw(15px);
//       margin-right: vw(15px);
//     }

//     .seltxt3 {
//       margin-left: vw(15px);
//     }

//     .selecttxt1 {
//       margin-right: vw(24px);
//       color: $MAIN;
//     }

//     .selecttxt2 {
//       margin-left: vw(15px);
//       margin-right: vw(15px);
//       color: $MAIN;
//     }

//     .selecttxt3 {
//       margin-left: vw(15px);
//       color: $MAIN;
//     }
//   }
  
//   .cal {
//     margin-top: vw(44px);
//   }

//   .month {
//     margin-left: vw(28px);
//     margin-right: vw(16px);
//   }

//   .dayname {
//     color: $GRAY-5F;
//     width: vw(300px);
//     justify-content: space-around;
//     text-align: center;
//   }

//   .date {
//     color: $GRAY-5F;
//     width: vw(300px);
//     justify-content: space-around;
//     margin-top: vw(8px);
//     text-align: center;
//   }
// }






@media screen and (min-width: $PHONE-VW) {
  .wrapper {
<<<<<<< HEAD
    // margin-top: 40px;

    .calendar {
      // width: 380px;0
      margin: auto;
      // margin-left: 40px;
      margin-bottom: 40px;
=======
    .profile {
      height: 246px;
      background-color: #FFF8EA;
    }
    .procom {
      // width: 380px;
      justify-content: space-between;
      margin-left: 22px;
      padding-top: 36px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 120px;
      gap: 15px;
>>>>>>> 16a4555ceb0c60080cee28fa2a37f83bcc02ae25
    }

    .selbox {
      position: relative;
      top: 44px;
      width: 340px;
      height: 74px;
      justify-content: center;
      background-color: $WHITE;
      border: 1px solid;
      border-radius: 15px;
      margin: auto;
      button {
        background-color: $WHITE;
        border: 0;
      }

      .seltxt1 {
        margin-right: 20px;
      }
  
      .seltxt2 {
        margin-left: 15px;
        margin-right: 15px;
      }
  
      .seltxt3 {
        margin-left: 15px;
      }
  
      .selecttxt1 {
        margin-right: 20px;
        color: $MAIN;
      }
  
      .selecttxt2 {
        margin-left: 15px;
        margin-right: 15px;
        color: $MAIN;
      }
  
      .selecttxt3 {
        margin-left: 15px;
        color: $MAIN;
      }
    }
    
    .cal {
      margin-top: 44px;
    }

    .month {
      margin-left: 28px;
      margin-right: 16px;
    }

    .dayname {
      color: $GRAY-5F;
      width: 300px;
      justify-content: space-around;
      text-align: center;
    }

    .date {
      color: $GRAY-5F;
      width: 300px;
      justify-content: space-around;
      margin-top: 8px;
      text-align: center;
    }
  }
}
