@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    .body {
      width: 300px;
      height: 80px;
      overflow-x: auto;
      white-space: nowrap;

      // .wrap {
      //   width: 300px;
      //   overflow-x: scroll;
      //   white-space: nowrap;
      // }

      .wrap {
        margin-bottom: 16px;
        .date {
          color: $GRAY_5B;
          margin-right: 24px;
        }
      }

      .text {
        color: $GRAY_5B;
        margin-right: 20px;
      }

      .celenum {
        color: $MAIN;
        margin-right: 20px;
      }
    }
  }
}
