.wrapper {
  .logo {
    width: vw(97px);
    height: vw(90px);
    border-radius: 50%;
    border: vw(1px) solid;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: vw(12px);

    // .logoimg {
    //   margin-top: 10px;
    //   width: 97px;
    //   height: 90px;
    //   border-radius: 50%;
    //   fill: $GRAY_5B;
    // }
  }

  .proname {
    align-items: center;
    margin-left: vw(12px);
    // .circle {
    //   width: 16px;
    //   height: 16px;
    // }
    .name {
      color: $GRAY_3C;
      margin-left: vw(4px);
    }
  }
}



@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    .logo {
      width: 97px;
      height: 90px;
      border-radius: 50%;
      border: 1px solid;
      object-fit: cover;
      overflow: hidden;
      margin-bottom: 12px;

      // .logoimg {
      //   margin-top: 10px;
      //   width: 97px;
      //   height: 90px;
      //   border-radius: 50%;
      //   fill: $GRAY_5B;
      // }
    }

    .proname {
      align-items: center;
      margin-left: 12px;
      // .circle {
      //   width: 16px;
      //   height: 16px;
      // }
      .name {
        color: $GRAY_3C;
        margin-left: 4px;
      }
    }
  }
}
