.wrapper {
  .image {
    width: vw(320px);
    height: vw(300px);
    margin: auto;
    margin-top: vw(24px);
    border-radius: vw(16px);
    background-size: cover;
    overflow: hidden;
    margin-bottom: vw(40px);
  }

  .text {
    width: vw(320px);
    margin: auto;
    margin-bottom: vw(40px);
  }
}


@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    .image {
      width: 320px;
      height: 300px;
      margin: auto;
      margin-top: 24px;
      border-radius: 16px;
      background-size: cover;
      overflow: hidden;
      margin-bottom: 40px;
    }

    .text {
      width: 320px;
      margin: auto;
      margin-bottom: 40px;
    }
  }
}
