.wrapper {
  margin-top: vw(24px);
  justify-content: center;
  flex-direction: column;
  margin-bottom: vw(40px);
  .list {
    width: vw(300px);
    background-color: #edecec;
    padding: vw(24px);
    border-radius: vw(16px);
    margin: auto;
    margin-bottom: vw(24px);

    .text {
      width: vw(250px);
      word-break: break-all;
    }

    .done {
      text-decoration: line-through;
      text-decoration-thickness: vw(2px);
    }

    .deleteButton {
      border: none;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .regi {
    width: vw(300px);
    border: none;
    background-color: #edecec;
    border-radius: vw(16px);
    margin-inline: auto;
    padding: vw(24px);
    margin-bottom: vw(24px);
    input:focus {
      outline: none;
    }

    .new {
      width: vw(266px);
      border: none;
      background-color: #edecec;
      ::placeholder {
        font-family: notoSans;
      }

      .enter {
        width: vw(24px);
        height: vw(24px);
        border: none;
        outline: none;
      }
    }
  }
}

@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    margin-top: 24px;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    .list {
      width: 300px;
      background-color: #edecec;
      padding: 24px;
      border-radius: 16px;
      margin: auto;
      margin-bottom: 24px;

      .text {
        width: 250px;
        word-break: break-all;
      }

      .done {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
      }

      .deleteButton {
        border: none;
        background-color: rgba(0, 0, 0, 0);
      }
    }

    .regi {
      width: 300px;
      border: none;
      background-color: #edecec;
      border-radius: 16px;
      margin-inline: auto;
      padding: 24px;
      margin-bottom: 24px;
      input:focus {
        outline: none;
      }

      .new {
        width: 266px;
        border: none;
        background-color: #edecec;
        ::placeholder {
          font-family: notoSans;
        }

        .enter {
          width: 24px;
          height: 24px;
          border: none;
          outline: none;
        }
      }
    }
  }
}
