.wrapper {
  .map {
    margin-left: vw(30px);
    margin-top: vw(24px);
    margin-bottom: vw(36px);
    width: vw(360px);
  }

  .bottom {
    margin-bottom: vw(40px);

    .sub1 {
      margin-left: vw(64px);
      margin-right: vw(72px);
    }
    .sub3 {
      margin-left: vw(64px);
    }
  }

  .content {
    margin-bottom: vw(40px);

    .con1 {
      margin-left: vw(46px);
      margin-right: vw(48px);
    }
    .con3 {
      margin-left: vw(72px);
    }
  }

  .nomap {
    width: vw(360px);
    margin: auto;
    margin-top: vw(48px);
    // margin-left: 15px;

    .nomaptxt {
      margin-bottom: vw(15px);
    }

  }
}



@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    .map {
      margin-left: 30px;
      margin-top: 24px;
      margin-bottom: 36px;
      width: 360px;
    }

    .bottom {
      margin-bottom: 40px;

      .sub1 {
        margin-left: 64px;
        margin-right: 72px;
      }
      .sub3 {
        margin-left: 64px;
      }
    }

    .content {
      margin-bottom: 40px;

      .con1 {
        margin-left: 46px;
        margin-right: 48px;
      }
      .con3 {
        margin-left: 72px;
      }
    }

    .nomap {
      width: 360px;
      margin: auto;
      margin-top: 48px;
      // margin-left: 15px;

      .nomaptxt {
        margin-bottom: 15px;
      }

    }
  }
}