.wrapper {
  padding-top: vw(25px);
  .mainTab{
    margin-top: vw(50px);
  }
}

@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    padding-top: 25px;
    .mainTab{
      margin-top: 50px;
    }
  }
}
