@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    position: relative;
    height: calc(100vh - 115px);
    position: relative;
    background-color: $GRAY_BA;
    .container {
      width: 100%;
      position: absolute;
      bottom: 0;
      .hidden {
        position: relative;
        visibility: hidden;
      }
      .dogSelectedCards {
      }
    }
  }
}
