.wrapper {
  width: vw(420px);
  height: 100vh;
  margin: 0 auto;
  .children{

  }
}

// 태브릿, 노트북, 데탑 뷰
@media screen and (min-width: $PHONE_VW) {
  .wrapper {
    width: 420px;
    .children{
    }
  }
}
