.wrapper {
  width: vw($PHONE-VW);
  height: 100vh;
  margin: 0 auto;
  .children{

  }
}

// 태브릿, 노트북, 데탑 뷰
@media screen and (min-width: $PHONE-VW) {
  .main {
    width: $PHONE-VW;
  }
  .wrapper {
    width: $PHONE-VW;
    .children{
      padding-bottom: 60px; 
    }
  }
}
