@media screen and (min-width: $PHONE-VW) {
  .wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-auto-rows: 140px;
    grid-gap: 18px;
    gap: 3px;
    .item {
      // background-color: rgb(173, 173, 173);
      // border-radius: 10px;
      .imgBox {
        width: 140px;
        height: 140px;
      }
      .img {
        width: 100%;
        height: 100%;
        // border-radius: 15px;
      }
    }
  }
}
